entrypoint = "app.py"
modules = ["python-3.11", "web"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run Flask App"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[nix]

[[ports]]
localPort = 5000
externalPort = 80
